[submodule "deps/reflex-dom-contrib"]
	path = deps/reflex-dom-contrib
	url = git@github.com:reflex-frp/reflex-dom-contrib.git
[submodule "deps/try-reflex"]
	path = deps/try-reflex
	url = git@github.com:ryantrinkle/try-reflex.git
[submodule "deps/servant"]
	path = deps/servant
	url = https://github.com/haskell-servant/servant.git
[submodule "deps/servant-snap"]
	path = deps/servant-snap
	url = https://github.com/haskell-servant/servant-snap
[submodule "deps/reflex-dom"]
	path = deps/reflex-dom
	url = https://github.com/ryantrinkle/reflex-dom
[submodule "deps/reflex"]
	path = deps/reflex
	url = https://github.com/ryantrinkle/reflex
